.accessories-main {
    height: 600px;
}

.accessories-title {
    font-size: 40px;
    margin-left: 20px;
}

.accessories-container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.accessory-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28rem;
    width: 20rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.accessory-card img {
    height: 15rem; 
    width: 100%;
    object-fit: cover;
    border:none;
    border-radius: 4px;
    transition: 0.2s ease;
}

.accessory-card p, .accessory-card h4 {
    margin: 5px 0;
    text-align: center;
}

.accessory-card button {
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: rgb(52, 85, 217);
    color: white;
    border: none;
}

.accessory-card button:hover {
    background-color: rgb(0, 46, 232);
    cursor: pointer;
}


h3 {
    margin: 15px 0px 0px 5px;
}
h4, h5 {
    margin: 5px;
    padding: 0px;
}

img {
    border: 1px solid black;
    border-radius: 4px;
    height: 20rem;
    width: 100%;
    transition: 0.2s ease;
}
.accessory-card > img:hover {
    transform: scale(1.07);
}
