.header-container {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    padding: 20px;
    background-color: #f9fafb;
    border-bottom: 1px solid #e5e7eb;
    position: fixed;
    width: 100%;

}

.header-link {
    font-size: 18px;
    color: #2563eb;
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-link p {
    margin: 0;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.header-link p:hover {
    color: #1d4ed8;
    transform: scale(1.1);
}
.butlogin{
    display: flex;
}
.butlogin > h2{
    font-size: 20px;
    margin-top:20px;
    font-weight: bold;
}
.header-link-button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
    margin:10px 0px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.butlogin > img{
    width:30px;
    height:30px;
    border:none;
    margin-top:20px;
    margin-right:50px;
}


.header-link-button:hover {
    background-color: #1d4ed8;
    transform: scale(1.05);
}
