.header-container {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    padding: 20px;
    background-color: #f9fafb;
    border-bottom: 1px solid #e5e7eb;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-link {
    font-size: 18px;
    color: #2563eb;
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-link p {
    margin: 0;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.header-link p:hover {
    color: #1d4ed8;
    transform: scale(1.1);
}

.header-link-button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.header-link-button:hover {
    background-color: #1d4ed8;
    transform: scale(1.05);
}
