@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.app-routes-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body{
  font-family: Montserrat;
  padding:0px;
  margin:0px;
}